@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.wrapper {
	display: flex;
	overflow: hidden;
	height: 100vh;
}

.sidebar {
	display: block;
	width: 400px;
	background: #383838;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: aquamarine;
}

.header {
	height: 88px;
	background: #FFFFFF;
	box-shadow: 0 4px 18px black;
}

.content {
	flex: 1;
	overflow: auto;
	background: #F2F2F2
}

.menu {
	display: block;
	margin: 44px 30px 30px 30px;
}

.menu-item {
	display: block;
	border-bottom: 1px solid rgba(242, 242, 242, 0.1);
}

.menu-item:last-child {
	border: none
}

.menu-item a {
	display: flex;
	height: 70px;
	margin-left: 30px;
	align-items: center;

	text-decoration: none;

	font-family: Open-Sans, sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 1px;

	text-transform: uppercase;
	color: #B7B7B7;
}

.menu-item:hover,
.menu-item--active {
	background: rgba(255, 255, 255, 0.05);
}

.menu-item a:hover,
.menu-item--active a {
	color: #fff
}

.logo {
	display: block;
	margin-top: 52px;
	margin-left: 81px;
	width: 216px;
	height: 74px;
}

.logo img {
	object-fit: fill;
}

/* MOVIE LIST */

.movie-list {
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	margin: 17px 50px 50px;
}

.movie-list--item {
	display: block;
	margin-right: 30px;
	margin-top: 30px;
	width: 370px;
	height: 700px;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	font-family: Open Sans, sans-serif;
}

.movie-list--item-image {
	display: block;
	height: 430px;
	background: black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	overflow: hidden;
}

.movie-list--item-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.movie-list--item-head {
	display: block;
	margin: 12px 20px 15px;
	border-bottom: 1px solid #F2F2F2;
}

.movie-list--item-title {
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	color: #333333;
}

.movie-list--item-subtitle {
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 14px;
	line-height: 25px;
	color: #999999;
}

.movie-list--item-wrapper {
	display: block;
}

.movie-list--item-description {
	margin: 0 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.movie-list--item-bottom {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	white-space: nowrap;
}

.movie-list--item-clock {
	height: 20px;
	width: 20px;
}

.movie-list--item-time {
	padding-left: 3px;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	color: #CCCCCC;
}

.movie-list--item-info {
	font-style: normal;
	font-weight: 600;
	font-size: 10px;
	line-height: 22px;
	margin-left: auto;
	text-transform: uppercase;
	color: #CCCCCC;
}

.movie-list--item-hover
{
	display: flex;
	width: 370px;
	height: 700px;
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	opacity: 0;
	transition: 1s;
}

.movie-list--item-hover:hover {
	opacity: 1;
}

.movie-list--item-detail-btn {
	align-self: center;
	margin-left: 75px;
	margin-right: 75px;
	width: 221px;
	height: 56px;
	background: #4EE7B0;
	border-radius: 7px;
	cursor: pointer;
}

.movie-list--item-detail-btn-text {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 56px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* HEADER */

.header-content {
	display: flex;
	width: auto;
	height: 41px;
	margin: 26px 51px 21px 43px;
}

.header-content--search {
	display: flex;
	width: 777px;
	border-bottom: 1px solid #C4C4C4;
	align-items: center;
}

.header-content--search-icon {
	overflow: hidden;
}

.header-content--search-icon img {
	width: 24px;
	height: 24px;
}

.header-content--search-placeholder {
	height: 40px;
	margin-left: 14px;
	flex: 1;
	width: auto;
}

.header-content--search-placeholder input{
	border: none;
	all:unset;
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 40px;
	width: 100%;
	color: #999999;
}

.header-content--search-placeholder input:focus {
	border: none;
	cursor: text;
	color: black;
}

.header-content--search-submit-btn {
	width: 89px;
	height: 40px;
	margin-left: 15px;
	background: #E7A04E;
	border-radius: 7px;
	cursor: pointer;
}

.header-content--search-submit-btn-text {
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
}

.header-content--add-film-btn {
	margin-left: auto;
	height: 40px;
	width: 158px;
	background: #4EE7B0;
	border-radius: 7px;
	cursor: pointer;
}

.header-content--add-film-btn-text {
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 40px;

	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
}

/* DETAIL CARD */

.detail-movie-card {
	font-family: Open Sans, sans-serif;
	flex-flow: column nowrap;
	display: flex;
	width: auto;
	height: auto;
	margin: 40px 50px 40px 50px;
	background: #FFFFFF;
}

.detail-movie-card--head {
	display: flex;
	flex-flow: column nowrap;
	margin: 20px 30px 20px 30px;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 17px;
}

.detail-movie-card--head-up {
	display: flex;
	flex-flow: row nowrap;
}

.detail-movie-card--head-title {
	width: 720px;
	height: 64px;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;
	color: #333333;
}

.detail-movie-card--head-favorite-btn {
	margin-left: auto;
	margin-top: 15px;
	width: 51px;
	height: 51px;
	overflow: hidden;
}

.detail-movie-card--head-down {
	display: flex;
	flex-flow: row nowrap;
}

.detail-movie-card--head-subtitle {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	color: #999999;
}

.detail-movie-card--head-age-rating {
	background: rgba(242, 242, 242, 0.1);
	border: 3px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 7px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #CCCCCC;
	margin-left: 10px;
	padding: 2px 5px;
}

.detail-movie-card--body {
	display: flex;
	flex-flow: row nowrap;
	margin: 30px;
}

.detail-movie-card--body-image {
	width: 493px;
	height: 754px;
	background: #F2F2F2;
}

.detail-movie-card--body-image img {
	padding: 10px;
	object-fit: cover;
}

.detail-movie-card--body-right {
	display: flex;
	flex-flow: column nowrap;

	margin-left: 32px;
}

.detail-movie-card--body-right--rating-score {
	display: flex;
	flex-flow: row nowrap;
	width: 55px;
	height: 55px;
	justify-content: center;
	background: #E78818;
	border-radius: 50%;
}

.detail-movie-card--body-right--rating-score a {
	align-self: center;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	color: #FFFFFF;
}

.detail-movie-card--body-right--about-movie-wrapper {
	display: flex;
	flex-flow: column nowrap;
	margin-top: 25px;
}

.detail-movie-card--body-right--about-movie-wrapper h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #666666;
	min-width: 256px;
}

.detail-movie-card--body-right--about-movie-wrapper a {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;

	color: #000000;
}

.about-movie-wrapper--year-wrapper {
	margin-top: 22px;
}

.about-movie-wrapper--year-wrapper,
.about-movie-wrapper--producer-wrapper,
.about-movie-wrapper--actors-wrapper {
	display:flex;
	flex-flow: row nowrap;
	margin-bottom: 15px;
}

.detail-movie-card--body-right h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #333333;
}

.detail-movie-card--body-right--description-wrapper {
	margin-top: 25px;
}

.detail-movie-card--body-right--description {
	margin-top: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}




